@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    @apply text-gray-800
}

p{
    @apply text-pretty;
    @apply text-justify
}
.title-nav{
    font-family: var(--font-krypton);
    font-size:large;
    font-weight: 600;
}

.subtitle-nav{
    font-family: var(--font-neon);
    font-size: xx-small;
    font-weight: 400;
}

.project-card{
    /* font-family: var(--font-neon); */
    cursor:default;
    font-size: small;
}